<%- model_class = Questionnaire -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @questionnaire.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date_from) %>:</strong></dt>
  <dd><%= @questionnaire.date_from %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date_to) %>:</strong></dt>
  <dd><%= @questionnaire.date_to %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              questionnaires_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_questionnaire_path(@questionnaire), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              questionnaire_path(@questionnaire),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
